.navbary {
  
    top: 0;
    width: 100%;
    background-color: #2e9f54 !important;
    border-color: #2e9f54 !important;
    z-index: 99999 !important;
}

.itemnav {
    color: #ffffff !important;
    padding-left: 10px;
}

/* Agregar una línea roja debajo del enlace activo */
.nav-link.active {
    border-bottom: 2px solid #db1752; /* Línea roja debajo del enlace activo */
}

/* Estilos del navbar-toggler */
.navbar-toggler {
    border-color: white; /* Cambia el color del borde del botón */
}

.navbar-logo {
    height: 40px;  /* Ajusta el tamaño del logo */
    width: auto;   /* Mantiene la relación de aspecto */
}

